:root {
    --color-primary: #D73953;
    --color-black:  #090909;
    --color-white: #ffffff;
    --color-grey: #a0a0a0;
    --color-light-grey: #299e5e;
    --color-dark-grey: #353535;
 }
.container {
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
    /* width: 70%; */
}
div .box {
    display: flex;
    color: white;
    height: 5rem;
    justify-content: center;
    align-items: center;
}
div .box:nth-of-type(1) {
    background-color: var(--color-primary);
    font-size: 1rem;
    flex-grow: 1.5;
}
div .box:nth-of-type(2) {
    background-color: var(--color-black);
    flex-grow: 2;
    font-size: 4rem;
    height: 9rem;
}
div .box:nth-of-type(3) {
    background-color: var(--color-grey);
    flex-grow: 2.5;
    font-size: 8rem;
    height: 15rem;
}
div .box:nth-of-type(4) {
    background-color: var(--color-light-grey);
    flex-grow: 2;
    font-size: 4rem;
    height: 9rem;
}
div .box:nth-of-type(5) {
    background-color: var(--color-dark-grey);
    flex-grow: 1.5;
    font-size: 1rem;
}
