.container {
    --color-primary: #D73953;
    --color-black:  #090909;
    --color-white: #ffffff;
    --color-grey: #a0a0a0;
    --color-light-grey: #299e5e;
    --color-dark-grey: #353535;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div .box {
    color: white;
    width: 100%;
    height: 5rem;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
div .box1 {
    background-color: var(--color-primary);
    transform: scale(.5);
}
div .box2 {
    background-color: var(--color-black);
    transform: scale(.75);
}
div .box3 {
    background-color: var(--color-grey);
    transform: scale(1);
}
div .box4 {
    background-color: var(--color-light-grey);
    transform: scale(.75);
}
div .box5 {
    transform: scale(.5);
    background-color: var(--color-dark-grey);
}
